
yourFirstJob/yourFirstJobBack/.vs/yourFirstJobBack/FileContentIndex/09b539db-fb9b-4a05-8a75-935b208c3e35.vsidx
yourFirstJob/yourFirstJobBack/.vs/yourFirstJobBack/FileContentIndex/50057df3-e2ea-4ba4-acac-0494c19e18be.vsidx
yourFirstJob/yourFirstJobBack/.vs/yourFirstJobBack/FileContentIndex/c7278513-7c55-4651-8996-3479c4898b7f.vsidx
